<style>
        div {
          background-image: url('IMG20210305223232.jpg');
          background-size: 1200px 900px;
          background: height 50%; ;
          background-repeat: no-repeat;
          
        }
        </style>